body {
  background-color:rgb(207, 199, 199);
  color:rgb(179, 168, 168);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  justify-items: center;
  margin: 100px;
}

.claculator {
  background-color:rgb(31, 30, 30);
  padding: 20px;
  border-radius: 30px;
  width: 267px;
}

#display {
  height: 60px;
  background:rgb(58, 57, 55);
  color: white;
  align-items: center;
  font-size: 21px;
  border-radius:11px;
  padding: 3px;
  border: radius 7px;
  margin-bottom: 20px;
}

.buttons {
  display:grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
}

.btn {
  padding: 20px;
  border-radius: 20px;
  background-color:rgb(118, 116, 116);
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background-color:rgb(20, 19, 19);
}


